.Sidebar::before {
  width: 45px;
  height: calc(100vh - 32px);
}

.Sidebar:hover .sbCollapseBtn {
  left: 100%;
  opacity: 1;
  border-top: solid 1px var(--bgPrimaryBorder);
  border-right: solid 1px var(--bgPrimaryBorder);
  border-bottom: solid 1px var(--bgPrimaryBorder);
}

.sbCollapseBtn {
  top: calc(50% - 32px);
  left: 90%;
  transform: translateY(-50%);
  border-radius: 0px 40px 40px 00px;
  opacity: 0;
  /* transition: left 0.2s; */
  transition: left 0.2s, opacity 0.1s, border 0.1s;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
}

.sbCollapseBtn > img {
  transition:  transform .2s ease-in-out;
  filter: invert(81%) sepia(5%) saturate(0%) hue-rotate(288deg) brightness(90%) contrast(95%);
  color: #bababa;
}

#SidebarContextMenu.visible {
  display: block;
}