.TabScroll {
	overflow: overlay;
}

.TabScroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

.TabScroll::-webkit-scrollbar {
	height: 3px;
	background-color: transparent;
}

.TabScroll::-webkit-scrollbar-thumb {
	background-color: var(--Accent);
  border-radius: 10px;
}