/* .cm-cursor {
  width: 2px !important;
  height: 18px !important;
  background-color: blue;
  border-left: 2px solid black;
  /* animation: caretAnim 1s infinite forwards !important; 
} */

/* @keyframes caretAnim {
  0%, 100% {
    scale: 1;
    opacity: 1;
  }
  50% {
    scale: 0.8;
    opacity: 0;
  }
} */



.Codemirror * {
  font-family: 'Consolas';
}