@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url(assets/fonts/Manrope.ttf);
}

@font-face {
  font-family: 'Consolas';
  src: url(assets/fonts/ConsolasLigatures.ttf);
}

@font-face {
  font-family: 'PoppinsNL';
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'PoppinsMD';
  src: url(assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'PoppinsBD';
  src: url(assets/fonts/Poppins-SemiBold.ttf);
}

.Consolas {
  font-family: 'Consolas';
}

.Manrope {
  font-family: 'Manrope';
}

.PoppinsNL {
  font-family: 'PoppinsNL';
}

.PoppinsMD {
  font-family: 'PoppinsMD';
}

.PoppinsBD {
  font-family: 'PoppinsBD';
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

#root {
  --MainBackground: #252525;
  --Editor: #1e1e1e;
  --Sidebar: #171719;
  --StatusBar: #171719;
  --Titlebar: #171719;
  --Accent: #1D4ED8;
  --Text: rgba(211, 211, 211, 0.96);
  --Border1: #34363e;
  --SidebarM: 8px;
  --SidebarB: 1px;
  --SidebarWidth: 300px;
  --SidebarDisplay: flex;
  --Scrollbar: #171719;
  --SidebarOBTN: #131418;
  overflow: hidden;
}

body {
  color: rgb(211, 211, 211, 0.9);
  overflow: hidden;
}

.draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--Scrollbar);
}

.WhiteIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(2148%) hue-rotate(292deg) brightness(110%) contrast(65%);
}